* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 100vh;
    background-color: salmon;
    

}

.kotak {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
}